body {
  background-color: #3a2f2d;
  a {
    text-decoration: none;
  }
  h3 {
    color: #ffffe0;
    font-size: 3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    span {
      font-family: "Lobster", cursive;
      font-style: italic;
      background: -webkit-linear-gradient(#2c75ff, #fefee0, #fe1b00);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.photos-de-paris {
  img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
  }
  .paris-damia {
    figure {
      display: flex;
      margin: 0;
      figcaption {
        margin-bottom: 14%;

        p {
          font-size: 2.7rem;
          color: #048b9a;
        }
      }
    }
  }
  .paris-1925 {
    object-fit: cover;
    figcaption {
      p {
        color: #048b9a;
        font-size: 2em;
      }
    }
    div {
      width: 80%;
      margin: auto;
      color: #2c75ff;
    }
  }
}
